body {
  font-family: 'Special Elite', "cursive";
  background: url("../pictures/backgroundPic.jpg") no-repeat center center fixed;
  color: white;
}

h1 {
  text-align: center;
}
/* HEADER */

header {
  text-align: center;
  font-family: 'Special Elite', "cursive";
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(44, 42, 43, 0.3);
  color: #eae7e4;
  width: 100%;
}

.titlePic {
  display: flex;
}

.headPic {
  border-radius: 50%;
  height: 115px;
  width: 115px;
  margin-right: 5px;
}

.icons {
  margin-top: 15px;
}

#iconLinkedIn {
  font-size: 50px;
  text-decoration: none;
  color: #0077b5;
  margin: 10px;
  padding: 5px;
}
#iconGitHub {
  font-size: 50px;
  text-decoration: none;
  color: #eae7e4;
  margin: 10px;
  padding: 5px;
}
#iconGmail {
  font-size: 50px;
  text-decoration: none;
  color: #cd3d2d;
  margin: 10px;
  padding: 5px;
}

#icon:visited {
  text-decoration: none;
  color: blue;
}

.aboutMe {
  display: flex;
  font-family: 'Special Elite', "cursive";
  padding: 10px;
  background-color: rgba(44, 42, 43, 0.3);
  margin: 10px 0;
  width: 75%;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  left: 13%;
}

/* PROJECTS */

.container {
  font-family: 'Special Elite', "cursive";
  color: white;
  margin: 50px;
}

.carousel-caption {
  background-color: rgba(44, 42, 43, 0.5);
  text-decoration: none;
}

#myCarousel {
  border: 5px solid black;
}

/* RESUME & CONTACT */

.resumeContactContainer {
  display: flex;
  justify-content: space-around;
}

.btn-group-lg > .btn,
.btn-lg {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.modal-header {
  text-align: center;
}

/* .downloadResume {
  text-align: center;
  text-decoration: none;
  color: red;
} */

.resume1,
.resume2 {
  width: 100%;
}

/* MOBILE */

@media screen and (max-width: 769px) {
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(44, 42, 43, 0.5);
    color: #eae7e4;
    width: 100%;
  }

  .modalContainer {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
  }
}
