html {
  background: url(../pictures/serverPic.jpg) no-repeat center center fixed;
  background-size: 100%;
}

body {
  max-width: 1100px !important;
  margin: auto !important;
  font-family: 'Boogaloo', 'cursive';
  height: 100%;
  background-color: rgba(0, 0, 0, .5) !important;
}

/* HEADER */

header {
  text-align: center;
  font-family: 'Boogaloo';
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px;
  color: black;
  border-radius: 6px;
  width: 100%;
}

.titlePic {
  display: flex;
}

.name > h1 {
  font-size: 3.5em;
  color: white;
}

.headPic {
  border-radius: 50%;
  height: 115px;
  width: 115px;
  margin-bottom: 10px;
  position: relative;
  left: 46%;
  margin-bottom: 10px;
}

.modalContainer {
  display: flex;
  flex-direction: row;
}
/* WHO I AM */

.aboutMe {
  display: flex;
  font-family: 'Boogaloo';
  font-size: 22px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

/* PROJECTS */

.container {
  font-family: 'Boogaloo';
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.titleWords {
  font-family: 'Boogaloo', 'cursive';
  color: black;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px auto;
  max-width: 50%;
}

.carousel-caption {
  background-color: rgba(44, 42, 43, 0.5);
  text-decoration: none;
}

#myCarousel {
  box-shadow: 0px 0px 10px black;
  border-radius: 6px;
}

/* RESUME & CONTACT */

.contactContainer {
  margin-top: 21px;
}
.resumeContainer {
  margin-top: 21px;
  margin-right: 10px;
}

.btn-group-lg > .btn,
.btn-lg {
  margin-top: 5px;
  padding: 5px;
  font-size: 30px;
  line-height: 1.3333333;
  border-radius: 6px;
  box-shadow: 0px 0px 10px black;
}

.modal-header {
  text-align: center;
  color: black;
}

.modal-body-contact {
  color: black;
  font-family: 'Boogaloo';
  font-size: 30px;
}

.downloadResume {
  text-align: center;
  text-decoration: none;
  color: black;
}

.resume1,
.resume2 {
  width: 100%;
}

.icons {
  margin-top: 15px;
}

#iconLinkedIn {
  font-size: 50px;
  text-decoration: none;
  color: #0077b5;
  margin: 10px;
  padding: 5px;
}
#iconGitHub {
  font-size: 50px;
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 5px;
}
#iconGmail {
  font-size: 50px;
  text-decoration: none;
  color: #cd3d2d;
  margin: 10px;
  padding: 5px;
}

/* SKILLS */

.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 6px;
  margin: 0 auto;
  width: 50%;
}

svg {
  height: 100px;
  width: 100px;
  padding: 5px;
}
i {
  font-size: 100px;
}

.devicon-github-plain {
  color: white;
}

.topRow,
.secondRow {
  text-align: center;
}
/* MOBILE */

@media screen and (max-width: 769px) {
  html {
    background: url(../pictures/serverPic.jpg) no-repeat center center fixed;
  }

  body {
    max-width: 1100px !important;
    margin: auto !important;
    font-family: 'Boogaloo', 'cursive';
    height: 100%;
    background-color: rgba(0, 0, 0, .4) !important;
  }

  .modalContainer {
    display: flex;
    flex-direction: row;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    padding: 5px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin: auto;
  }

  .name > h1 {
    font-size: 36px;
    color: white;
  }

  .aboutMe {
    display: flex;
    font-family: 'Boogaloo';
    font-size: 20px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
    width: 75%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 13%;
  }
  .headPic {
    border-radius: 50%;
    height: 115px;
    width: 115px;
    margin-bottom: 10px;
    position: relative;
    left: 36%;
    margin-bottom: 10px;
  }

  .languages {
    display: flex;
    flex-flow: none;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 6px;
    margin: 15px;
    width: 92%;
  }

  /* .languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 6px;
    margin: 15px;
    width: 50%;
  } */
  svg {
    height: 100px;
    width: 100px;
    padding: 5px;
  }
}
