body {
  font-family: 'Boogaloo', 'cursive';
  background: url(../pictures/overlay.png) no-repeat center center fixed;
  background-size: 100%;
}

/* h1 {
  text-align: center;
} */
/* HEADER */

header {
  text-align: center;
  font-family: 'Boogaloo';
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px;
  color: black;
  border-radius: 6px;
  width: 100%;
}

.titlePic {
  display: flex;
}

.headPic {
  border-radius: 50%;
  height: 115px;
  width: 115px;
  margin-right: 20px;
}

.name > h1 {
  font-size: 50px;
}
.name > h4 {
  font-size: 30px;
}

.icons {
  margin-top: 15px;
}

#iconLinkedIn {
  font-size: 50px;
  text-decoration: none;
  color: #0077b5;
  margin: 10px;
  padding: 5px;
}
#iconGitHub {
  font-size: 50px;
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 5px;
}
#iconGmail {
  font-size: 50px;
  text-decoration: none;
  color: #cd3d2d;
  margin: 10px;
  padding: 5px;
}

#icon:visited {
  text-decoration: none;
  color: blue;
}

.who {
  text-align: center;
  background-color: white;
}

.aboutMe {
  display: flex;
  font-family: 'Boogaloo';
  font-size: 22px;
  color: black;
  background-color: white;
  border: 5px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
  width: 75%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 13%;
}

/* PROJECTS */

.container {
  font-family: 'Boogaloo';
  padding: 10px;
  margin: 50px;
}

.titleWords {
  color: black;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 6px;
  padding: 10px;
  position: relative;
  width: 50%;
  left: 25%;
}

.carousel-caption {
  background-color: rgba(44, 42, 43, 0.5);
  text-decoration: none;
}

#myCarousel {
  border: 5px solid black;
  border-radius: 6px;
}

/* RESUME & CONTACT */

.btn-group-lg > .btn,
.btn-lg {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.modal-header {
  text-align: center;
  color: black;
}

.modal-body-contact {
  color: black;
  font-family: 'Boogaloo';
  font-size: 30px;
}

.downloadResume {
  text-align: center;
  text-decoration: none;
  color: black;
}

.resume1,
.resume2 {
  width: 100%;
}

/* MOBILE */

@media screen and (max-width: 769px) {
  body {
    font-family: 'Boogaloo', 'cursive';
    background: url(../pictures/overlay.png) no-repeat center center fixed;
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    /* background-color: rgba(128, 128, 128, 0.95); */
    color: black;
    width: 100%;
  }

  .modalContainer {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    margin: 3px;
    padding: 5px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 6px;
    position: relative;
    left: 50%;
  }

  .name > h1 {
    font-size: 36px;
  }
  .name > h4 {
    font-size: 20px;
  }

  .aboutMe {
    display: flex;
    font-family: 'Boogaloo';
    font-size: 20px;
    color: black;
    /* background-color: rgba(128, 128, 128, 0.95); */
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
    width: 75%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 13%;
  }
}
