body {
  font-family: 'Special Elite', "cursive";

  background: url("./backgroundPic.jpg") no-repeat center center fixed;
}

h1 {
  text-align: center;
}
/* HEADER */

header {
  text-align: center;
  font-family: 'Special Elite', "cursive";
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(44, 42, 43, 0.5);
  color: #eae7e4;
  width: 100%;
}

.headPic {
  border-radius: 50%;
  height: 115px;
  width: 115px;
}

.icons {
  margin-top: 15px;
}

#iconLinkedIn {
  font-size: 50px;
  text-decoration: none;
  color: #0077b5;
  margin: 10px;
  padding: 5px;
}
#iconGitHub {
  font-size: 50px;
  text-decoration: none;
  color: #eae7e4;
  margin: 10px;
  padding: 5px;
}
#iconGmail {
  font-size: 50px;
  text-decoration: none;
  color: #cd3d2d;
  margin: 10px;
  padding: 5px;
}

#icon:visited {
  text-decoration: none;
  color: blue;
}

/* PROJECTS */

.projectsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screenshots {
  width: 360px;
  height: 200px;
  margin: 10px 0;
}

.resumeCoverLetter {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

/* DESKTOP */

@media screen and (min-width: 769px) {
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(44, 42, 43, 0.5);
    color: #eae7e4;
    width: 100%;
  }

  .projectsWrapper {
    display: flex;
    flex-direction: row;
  }

  .projectWrapper {
    flex: 0 33%;
    text-align: center;
  }
}
